.css-12w0qpk {
    background-color: #ff0051;
    text-align: center; 
    border: #ff4b4b 0px solid;
    padding: 0.5% 1.1%;
    border-radius: 5px;
    color: white !important;
}
.css-1ht1j8u {
    color: white;
}